*{



	/*font-family: "Century Gothic";*/
	font-family: arial, verdana, sans-serif;


}



body{

	background: url(../img/bg.jpg);

    padding: 15px;

    width: 95%;

    margin: 0 auto;

}



.center {

	text-align: center;

}



.separator {

	height:10px;

}



.menu-container {

	border-bottom: 1px solid #ddd;

}

.margin-20 {

	margin-top: 20px !important;

	margin-bottom: 20px !important;

}

.menu-link:hover {

	background-color: #d3dfe4;

	cursor: pointer;

}

.menu-link:hover a {

	text-decoration: none;

}

.menu-link a {

	color: #000;

}

.menu-active {

	background-color: #e1dede;

}

.edit {
	cursor: pointer;
}

.header{
	/*border: 1px solid #ccc;*/
	border-radius: 10px;
	/*overflow: hidden;*/
	background: #fff;
	box-shadow: 0 2px 2px #7e7e7e; 
}

.pad-10{
	padding: 20px;
}

.sidebar{
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	overflow: hidden;
	background: #fff !important;
	box-shadow: 0 2px 2px #7e7e7e;
}

.fullwidth{
	width: 100%;
}

.home-body{
	margin-top: 20px;
}
.btn-go{
	padding: 1px 2px !important; 
}
.pad-0{
	padding-left: 0px;
	padding-right: 0px;
}

.footer{
	padding: 5px;
	border-radius: 5px;
	height: 36px;
	color: #fff; 
	background: url(../img/footer.png);
}

.top-nav{
	float: right;
}

.txt-right{
	text-align: right;
}

.top-nav-container{
	background: url(../img/top-navbg.png);
	height: 35px;
	background-size: 100% auto;
	border-top-right-radius: 10px

	 
}

.top-nav-container ul li a{
	color: #fff !important;
	padding: 5px 20px;
}

.top-nav-container ul li a:hover{
	color: #fff !important;
	padding: 5px 20px;
	background: transparent;
}

.pad-5{
	padding: 5px;
}

.icon .col-md-2{
	/*border: 1px solid #ccc;*/
	height: 100px;
	width: 100px;
	margin-left: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 2px #7e7e7e;
}

.icon{
	margin-bottom: 20px;
	text-align: center;
}

.icon .col-md-2:hover{
	background: #ccc;
	cursor: pointer;
}

hr{
	border-color: #ccc;
	font-weight: bold;
}

.content-container{
	min-height: 400px;
}

.home-body{
	min-height: 450px;
}

.navbarbg{
	background: url(../img/navbar.png);
	height: 33px;
	/*background-size: 100% auto;*/
	/*overflow-y: hidden ! important;
    overflow-x: hidden ! important;*/
    /*font-weight: bold;*/

}

.navbarbg ul li a{
	padding: 5px 20px;
	border-right: 1px solid #ddd;
}

.header-bg{
	position: absolute;
	background: #1a3867;
	width: 100%;
	height: 70px;
	padding: 0px;
	margin-top: -20px;
	margin-left: -50px;
}

.bg-sidebar{
	padding: 5px;
	height: 36px;
	color: #fff; 
	background: url(../img/sidebarnav.png);
	text-align: center;
	font-size: 17px;
	margin-bottom: 10px;

}

.pad-top-0{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.sidebar ul > li{
	color: #1a3867;
}

.btn-min{
	padding: 0px 5px;
	margin-top: 14px;
	margin-bottom: 14px;
	border-radius: 3px;
}
.pagination .glyphicon{
	margin-right: 5px !important;
	cursor: pointer;
	border: 1px solid #ccc;
	padding:5px;
	border-radius: 2px;
}



.title{
	text-decoration: none !important;
}

.modal-head{
	padding: 5px;
	height: 36px;
	color: #fff; 
	background: url(../img/sidebarnav.png);
	text-align: center;
	font-size: 17px;
	margin-bottom: 10px;
	cursor: move;

}

.image-con{
	box-shadow: 0 1px 2px #7e7e7e;
}

.loader{
	display: none;
}

.listdata thead tr th, .listdata tbody tr td, .content-container{
	font-size: 13px !important;
}

.container-content{
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0 1px 2px #7e7e7e;
	width: 73% !important;
	margin-right: 2% !important;
	margin-bottom: 10px;
	overflow: hidden;
	background: #fff;
}

.pagination{
	text-align: right;
}

.title-header{
	background: rgba(0, 0, 0, 0) url("../img/sidebarnav.png") repeat scroll 0 0;
	color: #fff;
	height: 35px;
}

.title-header p{
	font-size: 17px;
	padding: 5px;
}

.page-number{
	padding: 4px; margin-right: 5px;
}

.delete,.inactive{
	display: none;
}

.btn-navigation button span{
	margin-right: 5px;
}

.login-form{
	padding: 5px;
	height: 36px;
	color: #fff; 
	background: url(../img/sidebarnav.png);
	
		margin-bottom: 10px;

}
.login-container{
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #7e7e7e;
	text-align: center;
	margin-top: 150px;
	background: #fff;
}

.pagination .glyphicon{
	background: #337ab7;
	border-color: #337ab7;
	color: #ddd;
}

.oval{
	border: 2px solid #ccc;
	border-radius: 50px;
	width: 50px;
	background: #5cb85c;
	padding: 1px 2px;
}
.round{
	height: 100%;
	border-radius: 50%;
	border: 1px solid #fff;
	width: 10px;
	background: #c9302c;
	margin-left: 5px;
	cursor: pointer;
	box-shadow: 0 1px 2px #7e7e7e;

}

.on{
	margin-left: 3px;
	color: #fff;
}

.std-text{
	height: 30px !important;
	padding: 3px;
}

.glyphicon{
	cursor: pointer;
}

.author_modified p{
	font-size: 11px;
}

.author_modified{
	margin-top: 10px;
}

.left-5{
	margin-right: 5px !important;
}

.slider-settings{
	display: none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	border-color: #ccc !important;
}

.dropdown-toggle , .dropdown a{
	cursor: pointer;
}

.sidebar-menu {
 list-style-type: square;
}

.sublimenu{
	 list-style-type: square;
}
.btn-standard{
	padding: 1px 10px;
}
.right-5{
	margin-right: 5px;
}

.selected-image img{
	width: 100%;
}
.er-msg{
	display: none;
	font-size: 11px;
}

.list-select-articles{
	font-size: 11px;
}

.search-icon{
	position: absolute; right: 5px; font-size: 20px; margin-top: 2px;
}

.btn-select-container{
	/*position: absolute;*/
}
