.update {
  display: none;
}
.pagination{
  display: none;
}
.img_add{
  display: inline !important;
}
.inactive{
  display: none;
}
.er-msg-desc, .er-msg-foot{
  display: none;
  color: red;
  font-size: 11px;
}
.image3 {
    width: 100%;
}