 .update{
    display: none;
  }
  .save{
    display: none;
  }
  .preview{
    display: none;
  }

  .btn-filemanager{
    display: none;
  }
  .btn-videomanager{
    display: none;
  }

  .c-insert{
    display: none !important;
  }

  .pag2flu-img {
    width: 20%;
  }
