@font-face {

    font-family: 'fatfrank';

    src: url('../fonts/Fat_Frank/FatFrank-Free2.otf');
    src: url('../fonts/Fat_Frank/FatFrank-Free.eot?') format('embedded-opentype'),
    	url('../fonts/Fat_Frank/FatFrank-Free.otf');

    /*src: url(../fonts/Fat_Frank/fatfrank-webfont_2.ttf);*/

}

@font-face {
    font-family: "futura-medium";
    src: url('../fonts/ufonts.com_futura_medium.ttf'); 
    src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'), 
    	url('../fonts/FuturaStd-Medium_2.otf'),
    	url('../fonts/ufonts.com_futura-medium.ttf' ) format("truetype");
} 

body,html{

	font-family: 'futura-medium' !important;

}

.logo-title{

	font-family: 'fatfrank';

	font-size: 45pt;

	color: #42cbf4;

}

.logo-sub{

	margin-top: -20px;

    font-family: 'fatfrank';

    text-transform: uppercase;

    font-size: 12pt;

}

.main-container{

    padding: 0px !important;

    box-shadow: 0 16px 215px #7e7e7e;  

}

.main-wrapper{

	min-height: 450px !important;

	margin-bottom: 10%;

}

.mainMenu{

	padding: 3% 5% 2%;

}

.mainMenu ul li{

	float: left;

	background-color: #353535;

}

.mainMenu ul li.active{

	background-color: #30a6c5;

}

.mainMenu ul{

	margin-top: 10px;

}

.mainMenu ul li a{

	color: #fff;

    font-family: 'fatfrank';

    letter-spacing: 1px;

    text-transform: uppercase;

}

.violator img{

	height: 180px;

    width: auto;

    position: absolute;

    right: 0px;

}

.pad-0{

	padding:0px !important;

}

.flexslider{

	margin:3px 10px !important;

}

.footer-container li{

	list-style: none;

	float: left;

	padding: 5px 8px;

}

.footer-line{

	width: 573px;

	border: 1px solid #51bee0;

	margin-top: 35px; 

	line-height: 0.1em;

}

.foot-capsule{

	float: right !important;

}

.footer-container ul{

	padding: 0px;

}

p.footer-text{

	margin-top: 28px;

	font-size: 12px;

}

.unilablogo{

	margin-top: 15px;

}

.banner-text{

	position: absolute;

    top: 5%;

    text-transform: uppercase;

    width: 200px;

    color: #fff;

    margin-left: 3%;

}

.btext{

	font-size: 70pt;

    line-height: .8;

    font-weight: 700;

    color: #42cbf4;

    font-family: 'fatfrank';

}

.bioflu-text{

	font-size: 35pt;

    font-weight: 700;

    font-family: 'fatfrank';

}

.home-container{

	width: 90%;

	margin:0% auto;

}

.home-video-con p{

	text-align: center;

    text-transform: uppercase;

    margin-top: 5px;

}

.home-pag2flu-link-con{

	text-align: center;

	margin-top: 5%;

}

.know-your-flu-symptoms{

	font-size: 20pt;

    text-transform: uppercase;

    margin-bottom: 0px;

    color: #603f1b;

}

.home-icon-pag2flu img{

	width: 100%;

}

.home-icon-pag2flu p{

	text-align: center;

	text-transform: uppercase;

	margin-top: 10px;

	color: #603f1b;

}

.home-icon-pag2flu div:hover{

	opacity:.5;

	cursor: pointer;

}

.product-container{

	width: 85%;

	margin: auto;

	text-align: center;

}

label.prod-title{

	font-family: 'fatfrank';

	text-align: center;

	font-size: 40pt;

	color: #4bd2f5;

}

.prod-desc p{

	color: #603f1b;

}

.prod-p1{

	text-align: right;

	font-size: 22pt;

}

.prod-p2{

	text-align: right;

	font-size: 12pt;

}

.prod-p3,.prod-p4{

	text-align: left;

	font-size: 15px;

}

.prod-dosage,.warning{

	width: 90%;

	margin:auto;

}

.border-top{

	padding-top: 2%;

	width: 100%; 

	text-align: center; 

	border-bottom: 1px solid #62cce8; 

	line-height: 0.1em;

	margin: 10px 0 20px;

}

.border-top span { 

    background:#fff; 

    padding:0 10px;

    text-transform: uppercase; 

    color: #1e7c93;

    letter-spacing: 5px;

    font-size: 12pt;

}

.prod-dosage div p{

	text-align: center;

	color: #603f1b;

}

.pic-infog{

	text-transform: uppercase;

	text-align: center;

	color: #603f1b;

	letter-spacing: 1px;

	width:65%;

	margin: auto;

}

.prod-infog-dosage img{

	width: 100%;

}

.prod-infog-dosage{

	margin-top: 2%;

}

.prod-reminder{

	text-align: left;

	color: #603f1b;

	margin: auto;

	width: 95%;

}

.prod-reminder p{

	width: 90%;

}

.prod-reminder-title{

	font-size: 15pt;

	color: #27abbe;

	letter-spacing: 5px;

	text-transform: uppercase;

	font-family: 'futura-medium';

}

.not{

	text-decoration: underline;

}

.top-5{

	margin-top: 5%;

}

.warning-text{

	width: 55%;

    margin: auto;

    line-height: .9;

    margin-bottom: -2%;

    background: #fff;

}

.w-text{

	font-size: 35pt;

    font-family: 'fatfrank';

    text-transform: uppercase;

    color: #ff2c45;

}

.sign-text{

	font-size: 20pt;

    font-family: 'fatfrank';

    color: #434343;

    text-transform: uppercase;

}

.dosage-warning{

	text-align: left;

	margin-top: 3%;

	color: #603f1b;

}

.dos-ingr .dtitle{

	color: #ff2c45 !important;

	font-size: 15pt;

	letter-spacing: 5px;

	text-transform: uppercase;

}

.widget{

	position: fixed;

    right: 89px;

    top: 40%;

    z-index: 100;

    display: block;

}

#player video{

	box-shadow: 0px 49px 100px -75px #000;

}

.menu-text{

	position: absolute;

    font-size: 7pt;

    font-family: 'futura-medium';

    text-transform: uppercase;

    margin: 5px -13px;

}

.mainMenu .navbar-toggle, .logo-text{

	float: left;

}



.mainMenu .navbar-toggle{

	font-size: 20pt;

}

.mainMenu li:nth-child(7){

	margin-left: 10px;

}

.searchbar{

	padding: 6px;

    width: 260px;

    border: none !important;

    border-bottom: 1px solid #42cbf4 !important;

}

.search-icon{

	font-size: 15pt;

    margin-top: 3px;

    color: #42cbf4;

    margin-right: -30px;

}

#navbar{

	overflow: hidden;

	height: auto;

}

.mainMenu .navbar-header{

	margin-top: 0%;

	width: 100%;

}

.content{

	width: 90%;

	margin:auto;

}

.article-title{

	margin-top: 15px;

	line-height: 1;

	font-size: 45pt;

	color: #27a8c4;

	font-family: 'fatfrank';

	text-transform: uppercase;

}

.article-content{

	font-size: 12pt;

	height: 300px;

    overflow: hidden;

}

.related-text{

	font-size: 13pt;

	letter-spacing: 5px;

}

.related-articles{

	text-align: center;

	width: 75%;

    margin: auto;

}

.related-thumb{

	max-width: 100%;

	max-height: 100%;

	object-fit:cover;

	object-position:center;

	height: 250px;

}

.related-title{

	color: #0d96b4;

	text-transform: uppercase;

	font-size: 15pt;

}

.related-con{

	text-align: left;

}

.rtext{

	padding: 15px;

}

.r-border{

	border: 1px solid #d6d6d6;

    box-shadow: 3px 2px 5px 0px #d6d2d2;

    height: 450px;

    cursor: pointer;

}

.r-border:hover{

	opacity:.8;

}

.related-con-right{

	padding: 0px 15px 0px 0px !important;

}

.sharer p, .article-tags p{

	font-family: 'fatfrank';

    font-size: 18pt;

    color: #37d7ef;

    margin-bottom: 0px;

}

.tags{

	letter-spacing: 1px;

    color: #5b8994;

    font-size: 12pt;



}

.sharer, .article-tags{

	margin-bottom: 15px;

}

.comment-container {

	margin-top: 40px;

	width: 100%;

}

.comment-count-box {

	border-bottom: 1px solid #eee;

}

.comment-count {

/*	border-bottom: 2px solid #f00;*/

	padding-bottom: 4px;

    margin-bottom: 10px;

    margin-right: 20px;

}

/*.bioflu-text {

	color: #A6A1A1;

}*/

.comment-content-box {

	padding: 10px;

	margin-top: 15px;

	width: 100%;

	float: left;

}

.comment-sender {

	float: left;

    width: 100%;

    margin-bottom: 10px;

}

.sender-image {

    width: 9%;

    float: left;

    /* padding: 10px; */

    margin-right: 2%;

}

.sender-image img {

	border-radius: 4px;

}



.sender-message {

    width: 89%;

    float: left;

    /* padding: 10px; */

}

.submit-comment {

	padding: 8px;

    background: #417abf;

    color: white;

    text-decoration: none;

    float:left;

    border-radius: 5px;

    cursor: pointer;

}

.submit-comment:hover {

	text-decoration: none;

	color: white;

	background: #3c5f88;

}

.comment-message {

	float: left;

	width: 100%;

	max-height: 400px;

	overflow: hidden;

	overflow-y:auto;

}

.comment-message-box {

	float: left;

	width: 100%;

	margin-top: 10px;

}

.comment-message-photo {

    width: 9%;

    float: left;

    /* padding: 5px; */

    margin-right: 2%;

}

.comment-message-photo img {

	border-radius: 4px;

}

.comment-message-text {

    width: 89%;

    float: left;

    /* padding: 5px; */

}

.com-fb_name {

	color: #34569b;

	margin-right: 10px;

	float: left;

}

.com-lapse {

	color: #c6cfcf;

	float: left;

    font-size: 12px;

    margin-top: 3px;

    font-weight: 600;

}

.dot-separator, .message-count-reply {

	float: left;

}

.dot-separator {

	color: #c6cfcf;

    font-size: 10px;

    margin-top: 5px;

}

.comment_fb_name_days, .comment-content {

	width: 100%;

	float: left;

}

.comment-p {

	margin-bottom: 5px;

    font-size: 12px;

    color: #6e6e6e;

}

.message-count-reply span {

	margin-right: 10px;

    color: #34569b;

    font-size: 12px;

    margin-bottom: 0px;

}

.hide_reply, .show_reply, .reply_event, .share_event,.like_event {

	cursor: pointer;

}

.hide_reply:hover, .show_reply:hover, .reply_event:hover, .share_event:hover,.like_event:hover {

	color: #757474;

}

.submit-reply {

	padding: 8px;

    background: #417abf;

    color: white;

    text-decoration: none;

    float: left;

    border-radius: 5px;

    cursor: pointer;

}

.submit-reply:hover {

	text-decoration: none;

	color: white;

	background: #3c5f88;

}

.fb-login-button iframe {

	visibility: inherit !important;

}

#Loading, #commentLoading{

	display: none;

}

.like-date{

	color: #c6cfcf !important;

}

.like-count{

	margin-right: 0px !important;

}

.comment-sort{

	float: right;

	font-weight: normal;

}

.comment-sort .dropdown-menu{

	position: absolute;

/*    top: 100%; 

    left: 0; */

    z-index: 1000;

    /* display: none; */

    float: right;

    min-width: 85px;

}

.open{

	display: block !important;

	margin-left: 2% !important;

}

.sharer img{

	cursor: pointer;

}

.soc-icon-child {
	padding-left: 10px;
}
.footer-container{

	z-index: 1;

	position: fixed !important;

    bottom: 0;

    background-color: #fff;

    margin: 0px;

    -webkit-box-shadow: 0px -5px 25px rgba(253, 253, 253, 0.75);

    -moz-box-shadow:    0px -5px 25px rgba(253, 253, 253, 0.75);

    box-shadow:        0px -5px 25px rgba(253, 253, 253, 0.75);

}

.search-icon{

	cursor: pointer;

	pointer-events:visible !important;

}

.search-container{

	width: 90%;

	margin: auto;

}

.search-term{

	background-color: #e0e0e0;

    padding: 5px;

    text-transform: uppercase;

}

img.search-result-image {

    width: 100%;

    max-width: 100%;

    max-height: 100%;

    height: 100px;

    object-fit: cover;

}

.search-result{

	margin-top: 20px;

}

.search-result-container{

	margin-bottom: 10px;

}

.page-number {

    float: left;

    list-style: none;

    padding: 5px 10px;

    background: #42cbf4;

    margin-left: 10px;

    color: #fff;

    cursor: pointer;

}

.s-pagination {

    float: right;

    padding: 0px;

    margin-top: -5px;

}

.pagination{

	float: right;

}

.active-page{

	background: #11427c;

}

.search-article-title{

	font-size: 15pt;

}

.fullwidth{

	width: 100%;

}

.message {

	height: 90px !important;

}

.er-msg{

	color: red;

	font-size: 11px;

	display: none;

}

.pad-10{

	padding: 10px;

}
.pad-7 {
    padding: 7px;
}

.contact-container {
    padding-bottom: 10px;
    background-size: 100% 100%;
    padding-left: 4% !important;
    margin-bottom: 10px;
}

.contact-label{

	width: 90%;

	margin: auto;

}

.inputs{

	border: none !important;

	border-radius: 0px !important;

}

.contact-label h3{

	font-family: 'fatfrank';

    color: #46cff5;

    font-size: 45pt;

    margin-bottom: -5px;

}

.girl-img{

	position: absolute;

    right: 0;

    z-index: 1;

    float: right;

    top: 0%;

    width: 510px;

}

.love-to-help{

	font-size: 40pt;

    font-family: 'fatfrank';

    text-transform: uppercase;

    color: #fff;

}

.help-text{

	font-size: 13pt;

    line-height: 1.2;

    color: #fff;

    margin-top: -10px;

    text-transform: uppercase;

    width: 50%;

}

.subject{

	border-radius: 15px !important;

    width: 120px;

    background: #fff;

    color: #46cff5 !important;

    text-transform: uppercase;

    font-weight: 700;

    padding: 5px;

    cursor: pointer;

}

.lbl-text{

	text-transform: uppercase;

	color: #fff;

}

.contact-fb{

	width: 90%;

	margin:auto;

}

.contact-fb p{

	color: #46cff5;

	text-transform: uppercase;

	font-weight: 700;

	font-size: 12pt;

	letter-spacing: 1px;

}

.contact-fb div{

	width: 20%;

	float: left;

}

.flu-widget-con{

	text-transform: uppercase;

	position: absolute;

    top: 0%;

    padding: 9px;

    width: 100%;

    box-shadow: -10px 5px 30px 2px rgba(0, 0, 0, 0.42);

}

.widget .sml-txt{

	font-size: 9pt;

}

.widget .flu-text-bold{

	font-family: 'fatfrank';

    font-size: 22pt;

    margin-top: -12px;

}

.wid-btn {

    border-radius: 10px;

    border: none;

    padding: 5px 10px;

    font-size: 15pt;

    font-family: 'fatfrank';

    background: #eaeaea;

}

.widget-btn{

	margin-top: -10px;

}

.wid-btn:hover{

	background:red;

	color: #fff;

}

.wid-close{

	font-size: 8pt;

    position: absolute;

    top: 5px;

    right: 5px;

    cursor: pointer;

}

.nfm-icon{

	float: right;

    margin-top: -20px;

    height: 60px;

}

.sidebar-container {

    background: #417abf;

    color: #fff;

    margin-top: 7%

}

.txt-center {

    text-align: center;

}

.er-msg {

    color: red;

    font-size: 11px;

}

.er-msg {

    display: none;

}

.btn-submitflu {

    border-radius: 50px !important;

    border: 3px solid #fff !important;

    margin-bottom: 10px !important;

}

.black {

    color: #000;

}

.pad-5 {

    padding: 5px;

}

.white {

    color: #fff;

}

.tap-cover{

	cursor: pointer;

	-webkit-box-shadow: 0px -3px 25px rgba(253, 253, 253, 0.75);

    -moz-box-shadow: 0px -3px 25px rgba(253, 253, 253, 0.75);

    box-shadow: 0px -3px 25px rgba(253, 253, 253, 0.75);

}

.flumonitor_count ul li{

	background-color: #fff !important;

	list-style: none;

	padding-left: 30px;

}

.flumonitor_count{

	float: right;

    margin-right: 13%;

    margin-top: 20px

}

.fred{

	color: red;

	font-size: 14pt;

}

.sub-text{

	text-transform: uppercase;

	font-size: 9pt;

}
.loader{
	display: none;
}
#player video{
	width: 100%;
	height: auto;
}